<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://yourdomain/ReactTizenApp"
        version="1.0.0"
        viewmodes="maximized">
    <tizen:application id="ReactTizenApp.app" package="ReactTizenApp" required_version="2.4"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>ReactTizenApp</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
</widget>
